include includes/html_header.pug
    body
        p(class='p') This is paragraph #{title}
        form(id="", method="post", action="/home/create")
          label(for="name") Enter your name
          input(type="text" id="name" name="name")
          br
          label(for="surname") Enter your surname
          input(type="text" id="surname" name="surname")
          br
          input(type="submit" value="Create")
        
        form(id="login", method="post",action="/auth/login")
          fieldset
            legend login
            label(for="name") Enter your login name
            input(type="text" id="name" name="username")
            br
            label(for="pass") Enter your password
            input(type="password" id="pass" name="password")
            br
            input(type="submit" value="logIn")
        a(href="/logout") Log out
      

        p=result
  

    
        
            
    //-      
              ul
                each item in title
                  li  #{item.name} #{item.id}              
                    a(href=`home/delete/${item.id}`) delete          
    

          
        
