include includes/html_header.pug
include includes/navigation.pug
-var person=profile
p #{person}
  -var books=data
  ul
    each item in books
      li(class="book-container")    
        div(class="book-img") 
          img(src=item.img_big width="100" height="130")
          div(class="book-pop_up")
            p=item.title
            p=item.author
        
        

        

          
        
